body{
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{

}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    margin-bottom: 20px;
}

.last{
    display: flex;
    flex-direction: row;
}

.ru span{
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    margin-right: 6.72px;
}

.ru img{
    width: 24.76px;
    height: 23.95px;
    margin-right: 51.85px;
}
.last button{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    background: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.op{
    width: 100%;
    background: url('../img/fotosl.jpg')  no-repeat center top / cover;
    height: 880px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.op h2{
    margin-top: 170px;
    height: 142px;
    font-weight: 600;
    font-size: 60px;
    line-height: 71.4px;
    color: white;
}

.op h3{
    margin-top: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35.7px;
    color: white;
}

.op h4{
    width: 587px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.8px;
    color: white;
}

.op button{
    background: #42C321;
    border-radius: 5px;
    padding: 12px 25px;
    gap: 10px;
    margin-top: 40px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 306px;
}

.three{
    height: 2286px;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.three h2{
    height: 36px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35.7px;
    margin-top: 80px;
    color: #434343;
    width: 574px;
}

.icon{
    display: flex;
    flex-direction: row;
}

.icon div{
    margin-right: 53.5px;
}

.icon img{
    width: 64px;
    height: 64px;
    display: block;
}

.imgone{
    width: 127px;
    height: 98px;
}

.imgtwo{
    width: 74px;
    height: 98px;
}

.imgthree{
    width: 161px;
    height: 98px;
}

.imgfour{
    width: 95px;
    height: 98px;
}

.icon button{
    margin: 0 auto;
    display: block;
    background: none;
}

.raz{
    width: 64px;
    height: 64px;
}

.input{
    margin-top: 40px;
    background: #F1F1F1;
    width: 630px;
    height: 49px;
    border-radius: 5px;
    border: 1px solid #F1F1F1;
    display: flex;
    justify-content: space-between;
}

.input input{
    background: #F1F1F1;
    margin-top: 12px;
    margin-left: 16px;
    width: 374px;
    height: 26px;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
}

.input img{
    width: 19.85px;
    height: 19.85px;
    margin-right: 13.94px;
    margin-top: 13.71px;
}

br{
    width: 127px;
    height: 1px;
    border: 3px solid green;
}

.first{
    display: flex;
    flex-direction: row;
    margin-top: 94px;
}

.one{
    background: url('../img/image\ 18.png');
    margin-right: 20px;
}

.type{
    background-repeat: no-repeat;
    background: cover;
    width: 387px;
    height: 359px;
    border-radius: 5px;
}

.vnu{
    margin-top: 239px;
    width: 387px;
    height: 120px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.vnu img{
    margin-top: 47px;
    width: 50px;
    height: 50px;
    margin-right: 12px;
    margin-left: 17px;
}

.vnu span{
    color: white;
    margin-top: 59px;
    width: 230px;
    height: 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
}

.two{
    background: url('../img/image19.png');
    margin-right: 20px;
}

.tretiy{
    background: url('../img/image\ 20.png');
}

.first p{
    color: black;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 15px;
    width: 333px;
    height: 26px;
}

.first button{
    width: 226px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 7px 21px;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.solo{
    margin-top: 144px;
    width: 163px;
    height: 50px;
    background: #42C321;
    padding: 12px 25px;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: white;
}

.oneone{
    background: url('../img/image30.png');
    margin-right: 20px;
}

.twoone{
    background: url('../img/image\ 31.png');
    margin-right: 20px;
}

.tretiyone{
    background: url('../img/image\ 32.png');
}

.esh{
    margin-top: 174px;
}

.onetwo{
    background: url('../img/image\ 33.png');
    margin-right: 20px;
}

.twotwo{
    background: url('../img/image\ 34.png');
    margin-right: 20px;
}

.tretiytwo{
    background: url('../img/image\ 35.png');
}

footer{
    width: 100%;
    background: #F8F8F8;
    box-shadow: inset 0px 12px 17px rgba(0, 0, 0, 0.02);
    margin-top: 196px;
    height: 293px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer div{
    display: flex;
    flex-direction: column;
}

.footer span{
    height: 26px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #242424;
    margin-bottom: 2px;
    margin-top: 40px;
}

.footer a{
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #848484;
    margin-top: 20px;
}

.nelast{
    width: 129px;
    height: 26px;
    margin-top: 49px;
    margin-bottom: 24px;
}

.last{
    margin-top: 27px;
    width: 173px;
    height: 39px;
}